body{
    margin: 0;
    padding: 0;
}
.login{
    width: 100%;
    height: 100vh;
    display: flex;
}
.usuario, .clave{
    display: flex;
    flex-direction: column;
}
.login-content  {
    background: #E5DFD3;
    width: 100%;
}
.login-img  {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-img .icono{
    background-image: url(../assets/images/Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-datos{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-datos form{
    width: 60%;
    height: 50vh;
}
form input{
    border-radius: 10px;
    border: none;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
    padding-left: 15px;
}
.btn-login{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-login button{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #259EA6;
    color: white;
    cursor: pointer;
    width: 200px;
    transition: all 0.3s ease-out;
}
.copyrigth{
    text-align: center;
}
@media (min-width:991px){
    .img-fondo{
        background-image: url(../assets/images/Fondo-Login.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        height: 100vh;
        width: 60%;
    }
    .login-content  {
        width: 40%;
        height: 100vh;
    }
    .login-img .icono{
        height: 300px;
        width: 300px;
    }
    .btn-login button:hover{
        transform: scale(1.06);
        box-shadow: 0 0 5px black;
    }
}
@media (max-width:990px){
    .login-img .icono{
        height: 250px;
        width: 250px;
    }
    .login-datos form{
        width: 80%;
    }
}
